<div class="container">
  <header>
    <h1>Notifications</h1>
    <mat-spinner diameter="32" *ngIf="isLoading" @fade></mat-spinner>
  </header>
  <mat-nav-list
    *ngIf="messages$ | async as messages"
    [@staricase]="messages.length"
    (@staricase.done)="onDone()"
  >
    <a
      mat-list-item
      class="white"
      *ngFor="let message of messages"
      [routerLink]="message.id"
    >
      <h2 matLine>{{ message.title }}</h2>
      <p matLine>{{ message.body }}</p>
      <button mat-icon-button>
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </a>
  </mat-nav-list>
</div>
