<mat-card matripple>
  <mat-card-content class="body">
    <div class="img-container">
      <app-img-round
        src="https://via.placeholder.com/128"
        alt="headshot"
      ></app-img-round>
    </div>
    <div class="mat-title">Name Surname</div>
    <div>
      Profession primary <br />
      Profession secondary <br />
      Hobby
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <a mat-button color="primary" routerLink="id">VIEW</a>
  </mat-card-actions>
</mat-card>
