<mat-divider></mat-divider>
<div class="container">
  <div class="grid-col col-2">
    <h3 class="m-0">
      Follow us on
      <button mat-icon-button><mat-icon>whatshot</mat-icon></button>
      <button mat-icon-button><mat-icon>whatshot</mat-icon></button>
      <button mat-icon-button><mat-icon>whatshot</mat-icon></button>
    </h3>
    <a href="#"><h3>Drop us an email</h3></a>
  </div>
  <h3 class="m-0">
    #DevFestKol #DevFest19 #DevFestKol19
  </h3>
  <div class="grid-col col-3">
    <div>
      <h3>About GDG</h3>
      <a href="#">GDG Kolkata</a>
      <a href="#">Google Developers Group</a>
      <a href="#">Meet the Team</a>
    </div>
    <div>
      <h3>About WTM</h3>
      <a href="#">WTM Kolkata</a>
      <a href="#">Women Techmakers</a>
    </div>
    <div>
      <h3>About GDG Cloud Kolkata</h3>
      <a href="#">GDG Cloud Kolkata</a>
      <a href="#">Google Developers Group Cloud Kolkata</a>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="container">
  <div class="credits">
    <div class="logo mat-headline m-0">GDG</div>
    <a routerLink="/team" class="copyright">© Copyright 2019 | GDG Kolkata | Devel❤️er Credits</a>
  </div>
</div>
