<section>
  <div class="container grid grid-reverse">
    <div>
      <app-header-fragment fragment="eventDescription">
        <h1>Unique & Engaging</h1>
      </app-header-fragment>
      <div>
        <p>
          While no two DevFests will be exactly alike, each at its core is
          powered by a shared belief that when developers come together to
          exchange ideas, amazing things can happen.
        </p>
        <p>
          If you would like to be a Speaker or do a Showcase for your
          Organization, do check out our CFPs.
        </p>
        <button mat-raised-button color="accent">CALL FOR SHOWCASE</button>
      </div>
    </div>
    <app-placeholder (appDeferLoad)="onViewed()">
      <img
        src="https://via.placeholder.com/600x300"
        alt="image"
        *ngIf="loadResource"
      />
    </app-placeholder>
  </div>
</section>
