:host {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 15px;
}

.img-container {
  $size: 100px;
  height: $size;
  width: $size;
}

@media (min-width: 508px) {
  :host {
    grid-template-columns: none;
    justify-items: center;
    text-align: center;
  }
}
