<div class="img-container">
  <app-img-round></app-img-round>
</div>
<h3>Name Surname</h3>
Designation
<div>
  <a
    mat-icon-button
    href="#"
    target="_blank"
    rel="noopener noreferrer"
    matTooltip="Twitter"
  >
    <mat-icon svgIcon="twitter-circle"></mat-icon>
  </a>
  <a
    mat-icon-button
    href="#"
    target="_blank"
    rel="noopener noreferrer"
    matTooltip="LinkedIn"
  >
    <mat-icon svgIcon="linkedin-box"></mat-icon>
  </a>
  <a
    mat-icon-button
    href="#"
    target="_blank"
    rel="noopener noreferrer"
    matTooltip="Github"
  >
    <mat-icon svgIcon="github-circle"></mat-icon>
  </a>
</div>
