.placeholder {
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100% / 16 * 9;
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d8d8d8;
}
