<div class="container">
  <div class="dp">
    <mat-card>
      <div class="img-container">
        <app-img-round src="https://via.placeholder.com/256"></app-img-round>
      </div>
      <div class="mat-headline">Name Surname</div>
      <div class="mat-subheading-2">
        Profession | Profession | Profession | Profession
      </div>
      <div class="social">
        <a
          mat-icon-button
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          matTooltip="Twitter"
        >
          <mat-icon svgIcon="twitter-circle"></mat-icon>
        </a>
        <a
          mat-icon-button
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          matTooltip="LinkedIn"
        >
          <mat-icon svgIcon="linkedin-box"></mat-icon>
        </a>
        <a
          mat-icon-button
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          matTooltip="Github"
        >
          <mat-icon svgIcon="github-circle"></mat-icon>
        </a>
        <a
          mat-icon-button
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          matTooltip="Website"
        >
          <mat-icon svgIcon="web"></mat-icon>
        </a>
        <button
          mat-icon-button
          (click)="onShareClick()"
          matTooltip="Share"
          *ngIf="isWebShareAvailable"
        >
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
  <div class="details">
    <h2>About Me</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vero
      magni quibusdam sequi dolores doloremque itaque voluptatibus excepturi ab
      tempore veniam qui dicta aut, earum ut nisi aperiam aliquam quod! Fugit
      cum at iusto dignissimos quis temporibus ex officiis necessitatibus atque,
      unde cumque sed, dolores quibusdam animi quod veritatis sapiente deserunt
      explicabo. Quos, corporis. Quisquam incidunt quos rem iure blanditiis.
      Doloremque praesentium aliquid vero doloribus, soluta, iste quae, nulla
      eveniet veniam eum tenetur debitis quam corporis tempora impedit beatae
      exercitationem temporibus enim id quo omnis fugiat iusto consequuntur.
      Rem, consequuntur. Unde nam facilis officiis provident eaque odio
      similique ad, odit sed. Ipsam, id nam.
    </p>
    <h2>My Sessions</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae vero
      magni quibusdam sequi dolores doloremque itaque voluptatibus excepturi ab
      tempore veniam qui dicta aut, earum ut nisi aperiam aliquam quod! Fugit
      cum at iusto dignissimos quis temporibus ex officiis necessitatibus atque,
      unde cumque sed, dolores quibusdam animi quod veritatis sapiente deserunt
      explicabo. Quos, corporis. Quisquam incidunt quos rem iure blanditiis.
      Doloremque praesentium aliquid vero doloribus, soluta, iste quae, nulla
      eveniet veniam eum tenetur debitis quam corporis tempora impedit beatae
      exercitationem temporibus enim id quo omnis fugiat iusto consequuntur.
      Rem, consequuntur. Unde nam facilis officiis provident eaque odio
      similique ad, odit sed. Ipsam, id nam.
    </p>
  </div>
</div>
