<section>
  <div class="container grid">
    <div>
      <app-header-fragment fragment="eventIntroduction">
        <h1>BlrDroid 2019</h1>
      </app-header-fragment>
      <div>
        <p class="mat-body-strong">Exciting catch phrase!</p>
        <p>
          Join us on Day, D Mmm, YYYY at
          <a
            href="http://novotelkolkata.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            venue
          </a>
          for a day filled with amazing tech talks and demos.
        </p>
        <p>
          Unable to attend? The DevFest Sessions will be available on YouTube in
          a few days. Make sure to sign up to receive event information and
          updates. Take part in the conversation on Twitter by using the
          hashtags
          <span class="mat-body-strong">#hashtag1</span> and
          <span class="mat-body-strong">#hashtag2</span>.
        </p>
        <button mat-raised-button color="primary">REGISTER</button>
      </div>
    </div>
    <app-placeholder (appDeferLoad)="onViewed()">
      <img
        src="https://via.placeholder.com/600x300"
        alt="image"
        *ngIf="loadResource"
      />
    </app-placeholder>
  </div>
</section>
