.square-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px;
}

.topic {
  width: max-content;
  padding: 7px 21px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight: 500;
}

.yellow {
  background-color: rgba(255, 217, 0, 0.4);
}

.blue {
  background-color: rgba(107, 166, 255, 0.4);
}

.red {
  background-color: rgba(255, 91, 91, 0.4);
}

.green {
  background-color: rgba(21, 255, 0, 0.4);
}
