<section>
  <div class="container grid">
    <div>
      <app-header-fragment fragment="eventTypes">
        <h1>What happens at DevFest?</h1>
      </app-header-fragment>
      <div>
        <p>
          DevFests are events where we come together to learn from each other.
        </p>
        <p>
          The motive is to create a local ecosystem of Developers and give
          them a platform to Interact and Network. We talk about various
          cutting-edge technologies.
        </p>
      </div>
    </div>
    <div class="square-4">
      <div>
        <div class="mat-subheading-2 topic yellow">
          Cloud
        </div>
        Learn &amp; Grow with Serverless and Cloud.
      </div>
      <div>
        <div class="mat-subheading-2 topic blue">
          Web
        </div>
        Working with the all-pervading platform.
      </div>
      <div>
        <div class="mat-subheading-2 topic red">
          ML
        </div>
        Making the machines learn.
      </div>
      <div>
        <div class="mat-subheading-2 topic green">
          Mobile
        </div>
        Build for the Device in everyone's hand.
      </div>
    </div>
  </div>
</section>
