// Get icon names from -
// Official - https://material.io/resources/icons/
// Community - https://materialdesignicons.com/

@import './theme/variables';

button.mat-menu-item {
  line-height: 24px !important;
}

a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}

.mat-icon {
  svg {
    height: 24px;
    width: 24px;
  }
}

app-nav:not([class*='dark-theme']) {
  mat-icon:not([class*='app-default-color']) {
    &[svgIcon^='twitter'] {
      color: #00acee;
    }

    &[svgIcon^='facebook'] {
      color: #3b5998;
    }

    &[svgIcon^='meetup'] {
      color: #e51937;
    }

    &[svgIcon^='linkedin'] {
      color: #0e76a8;
    }

    &[svgIcon^='github'] {
      color: #333;
    }

    &[svgIcon^='web'] {
      color: $primary;
    }
  }
}
