//*************//
// Light Theme //
//*************//

.white {
  background-color: white !important;
}

a:not([class^='mat-']):not([class*='fragment-icon']) {
  color: #2962ff;
}

.router-link-active {
  background-color: #d8d8d8;
}

//************//
// Dark Theme //
//************//

.dark-theme {
  .white {
    background: #424242 !important;
  }

  a:not([class^='mat-']):not([class*='fragment-icon']) {
    color: #76ff03;
  }

  .router-link-active {
    background-color: #707070;
  }
}
