// .sidenav-container {
//   height: 100%;
// }

.sidenav {
  width: 250px;
}

.sidenav-header {
  padding: 22px;
  [class^='mat-'] {
    margin: 0;
  }
}

.mat-toolbar {
  background: inherit;

  .container {
    display: flex;
    align-items: center;
  }
}

.menu-item {
  text-transform: capitalize;
}

main {
  min-height: calc(100vh - 56px);
  @media (min-width: 600px) {
    min-height: calc(100vh - 64px);
  }
  display: grid;
  grid-template-rows: auto max-content;
  grid-row-gap: 64px;
  box-sizing: border-box;
}

.p-0 {
  padding: 0;
}
