<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    mode="over"
    [opened]="(isHandset$ | async) ? false : false"
  >
    <div class="sidenav-header">
      <div class="mat-headline">MMM DDth, YYYY</div>
      <div class="mat-subheading-2">City, Country</div>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list (click)="drawer.close()">
      <a
        mat-list-item
        *ngFor="let route of routes"
        [routerLink]="route.path"
        routerLinkActive="router-link-active"
      >
        <mat-icon mat-list-icon>{{ route.icon }}</mat-icon>
        <span mat-line>{{ route.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      [color]="(isDarkTheme$ | async) ? null : 'primary'"
      class="app-toolbar mat-elevation-z6 p-0"
    >
      <div class="container">
        <button
          type="button"
          mat-icon-button
          (click)="drawer.toggle()"
          matTooltip="Toggle menu"
          aria-label="Toggle menu"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="custom-typography">BlrDroid</span>
        <span class="spacer"></span>
        <ng-container *ngIf="!(isHandset$ | async)">
          <a
            mat-button
            *ngFor="let route of routes"
            [routerLink]="route.path"
            routerLinkActive="router-link-active"
          >
            <span>{{ route.label }}</span>
          </a>
        </ng-container>
        <button
          mat-icon-button
          (click)="onShareClick()"
          matTooltip="Share app"
          aria-label="Share app"
          *ngIf="isWebShareAvailable"
        >
          <mat-icon>share</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="toggleDarkTheme()"
          [matTooltip]="
            'Switch to ' +
            ((isDarkTheme$ | async) ? 'light' : 'dark') +
            ' theme'
          "
          [attr.aria-label]="
            'Switch to ' +
            ((isDarkTheme$ | async) ? 'light' : 'dark') +
            ' theme'
          "
        >
          <mat-icon>
            {{ (isDarkTheme$ | async) ? 'wb_sunny' : 'nights_stay' }}
          </mat-icon>
        </button>
        <ng-container
          *ngIf="!(isOffline$ | async) && (isUpdateAvailable$ | async)"
        >
          <button
            mat-icon-button
            (click)="updateApp()"
            matTooltip="Update app"
            aria-label="Update app"
            *ngIf="!(isUpdating$ | async)"
          >
            <mat-icon class="animated infinite heartBeat delay-3s slower">
              system_update
            </mat-icon>
          </button>
          <div
            class="icon-container white-spinner"
            matTooltip="Updating app"
            aria-label="Updating app"
            *ngIf="isUpdating$ | async"
          >
            <mat-spinner diameter="20" strokeWidth="10"></mat-spinner>
          </div>
        </ng-container>
      </div>
    </mat-toolbar>
    <main>
      <div class="pages">
        <ng-content select="router-outlet"></ng-content>
      </div>
      <app-footer class="white"></app-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
