<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    mode="over"
    [opened]="(isHandset$ | async) ? false : false"
  >
    <div class="sidenav-header">
      <img src="" alt="" />
      <div class="mat-headline">August 4th, 2019</div>
      <div class="mat-subheading-2">Kolkata, India</div>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list (click)="drawer.close()">
      <a
        mat-list-item
        *ngFor="let route of routes"
        [routerLink]="route.path"
        routerLinkActive="router-link-active"
      >
        <mat-icon mat-list-icon>{{ route.icon }}</mat-icon>
        <span mat-line>{{ route.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      [color]="(isDarkTheme$ | async) ? null : 'primary'"
      class="app-toolbar mat-elevation-z6 p-0"
    >
      <div class="container">
        <button
          type="button"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
          matTooltip="Toggle menu"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="custom-typography">GDG Kolkata</span>
        <span class="spacer"></span>
        <ng-container *ngIf="(isHandset$ | async) === false">
          <button
            mat-button
            *ngFor="let route of routes"
            [routerLink]="route.path"
            routerLinkActive="router-link-active"
          >
            <span>{{ route.label }}</span>
          </button>
        </ng-container>
        <a
          href="https://github.com/batbrain9392/gdg-devfest-ng"
          target="_blank"
          rel="noopener noreferrer"
          mat-icon-button
          matTooltip="Github repo for this app"
        >
          <mat-icon
            class="app-default-color"
            svgIcon="github-circle"
          ></mat-icon>
        </a>
        <button
          mat-icon-button
          (click)="toggleDarkTheme()"
          [matTooltip]="
            'Switch to ' +
            ((isDarkTheme$ | async) ? 'light' : 'dark') +
            ' theme'
          "
        >
          <mat-icon>
            {{ (isDarkTheme$ | async) ? 'wb_sunny' : 'nights_stay' }}
          </mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="updateApp()"
          *ngIf="updateAvailable$ | async"
          matTooltip="Update app"
        >
          <mat-icon class="animated infinite heartBeat delay-3s slower">
            system_update
          </mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <main>
      <div class="pages">
        <ng-content select="router-outlet"></ng-content>
      </div>
      <app-footer class="white"></app-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
