@import './variables';

//*************//
// Light Theme //
//*************//

.white {
  background-color: white !important;
}

a:not([class^='mat-']):not([class*='fragment-icon']) {
  color: $primary;
}

.router-link-active {
  background-color: #d8d8d8;
}

.app-toolbar .router-link-active {
  background-color: $primary-dark;
}

//************//
// Dark Theme //
//************//

.dark-theme {
  .white {
    background: #424242 !important;
  }

  a:not([class^='mat-']):not([class*='fragment-icon']) {
    color: $accent;
  }

  .router-link-active {
    background-color: #707070;
  }

  // .app-toolbar .router-link-active {
  //   background-color: $accent-dark;
  // }
}
