<app-jumbotron>
  <ng-container ngProjectAs="mat-headline">
    Our lineup of big thinkers and even bigger doers
  </ng-container>
  <ng-container ngProjectAs="mat-subheading-2">
    Google is known all around the world. Everyone is 'googling', checking
    on 'maps' and communicating in 'gmail'. For simple users, they are
    services that just works, but not for us. Developers see much more:
    APIs, scalability issues, complex technology stacks. And that is what
    GDG is about.
    <br />
    Our goal is to organize space to connect the best industry experts with
    Indian audience to boost development of IT.
  </ng-container>
</app-jumbotron>
<div class="container grid">
  <section class="team" id="organisingTeam">
    <app-header-fragment fragment="organisingTeam">
      <h2 class="m-0">Organising Team</h2>
    </app-header-fragment>
    <mat-divider></mat-divider>
  </section>
  <section class="team" id="partnerCommunitiesOrganizingTeam">
    <app-header-fragment fragment="partnerCommunitiesOrganizingTeam">
      <h2 class="m-0">Partner Communities Organizing Team</h2>
    </app-header-fragment>
    <mat-divider></mat-divider>
  </section>
  <section class="team" id="volunteers">
    <app-header-fragment fragment="volunteers">
      <h2 class="m-0">Volunteers</h2>
    </app-header-fragment>
    <mat-divider></mat-divider>
  </section>
  <section class="team" id="developers">
    <app-header-fragment fragment="developers">
      <h2 class="m-0">Devel❤️ers</h2>
    </app-header-fragment>
    <mat-divider></mat-divider>
  </section>
</div>
