<app-jumbotron>
  <ng-container ngProjectAs="mat-display-1">
    Our lineup of big thinkers and even bigger doers
  </ng-container>
  <ng-container ngProjectAs="mat-subheading-2">
    Google is known all around the world. Everyone is 'googling', checking on
    'maps' and communicating in 'gmail'. For simple users, they are services
    that just works, but not for us. Developers see much more: APIs, scalability
    issues, complex technology stacks. And that is what GDG is about.
    <br />
    Our goal is to organize space to connect the best industry experts with
    Indian audience to boost development of IT.
  </ng-container>
</app-jumbotron>
<div class="container">
  <section class="team" id="organisingTeam">
    <app-header-fragment fragment="organisingTeam">
      <h1 class="m-0">Organising Team</h1>
    </app-header-fragment>
    <mat-divider></mat-divider>
    <div class="grid-team">
      <app-member
        *ngFor="let member of [0, 0, 0, 0]"
        [member]="member"
      ></app-member>
    </div>
  </section>
  <section class="team" id="partnerCommunitiesOrganizingTeam">
    <app-header-fragment fragment="partnerCommunitiesOrganizingTeam">
      <h1 class="m-0">Partner Communities Organizing Team</h1>
    </app-header-fragment>
    <mat-divider></mat-divider>
    <div class="grid-team">
      <app-member
        *ngFor="let member of [0, 0, 0, 0]"
        [member]="member"
      ></app-member>
    </div>
  </section>
  <section class="team" id="volunteers">
    <app-header-fragment fragment="volunteers">
      <h1 class="m-0">Volunteers</h1>
    </app-header-fragment>
    <mat-divider></mat-divider>
    <div class="grid-team grid-small">
      <app-member-small
        *ngFor="let member of [0, 0, 0, 0, 0, 0, 0, 0]"
        [member]="member"
      ></app-member-small>
    </div>
  </section>
  <section class="team" id="developers">
    <app-header-fragment fragment="developers">
      <h1 class="m-0">Devel❤️ers</h1>
    </app-header-fragment>
    <mat-divider></mat-divider>
    <div class="grid-team grid-small">
      <app-member-small
        *ngFor="let member of [0, 0, 0, 0]"
        [member]="member"
      ></app-member-small>
    </div>
  </section>
</div>
