<mat-divider></mat-divider>
<div class="container">
  <div class="grid-col follow">
    <h3>
      Follow us on
      <a
        mat-icon-button
        href="https://facebook.com/GDGKolkata/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <mat-icon svgIcon="facebook-box"></mat-icon>
      </a>
      <a
        mat-icon-button
        href="https://twitter.com/gdgkolkata/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <mat-icon svgIcon="twitter-circle"></mat-icon>
      </a>
      <a
        mat-icon-button
        href="https://meetup.com/GDG-Kolkata/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <mat-icon svgIcon="meetup"></mat-icon>
      </a>
    </h3>
    <h3>
      <mat-icon class="icon-with-text">email</mat-icon>
      <a href="mailto:admin@gdgkolkata.org">Drop us an email</a>
    </h3>
    <h3>
      <mat-icon class="icon-with-text">map</mat-icon>
      <a routerLink="/home" fragment="location">Find event location</a>
    </h3>
  </div>
  <h3 class="m-0">
    #DevFestKol #DevFest19 #DevFestKol19
  </h3>
  <div class="grid-col about">
    <div>
      <h3>About GDG</h3>
      <a
        href="https://www.facebook.com/pg/GDGKolkata/about/"
        target="_blank"
        rel="noopener noreferrer"
        >GDG Kolkata</a
      >
      <a
        href="https://developers.google.com/community/gdg/"
        target="_blank"
        rel="noopener noreferrer"
        >Google Developers Group</a
      >
      <a routerLink="/team">Meet the Team</a>
    </div>
    <div>
      <h3>About WTM</h3>
      <a
        href="https://www.facebook.com/WTMKolkata/"
        target="_blank"
        rel="noopener noreferrer"
        >WTM Kolkata</a
      >
      <a
        href="https://www.womentechmakers.com/"
        target="_blank"
        rel="noopener noreferrer"
        >Women Techmakers</a
      >
    </div>
    <div>
      <h3>About GDG Cloud Kolkata</h3>
      <a
        href="https://www.facebook.com/GCDCKol/"
        target="_blank"
        rel="noopener noreferrer"
        >GDG Cloud Kolkata</a
      >
      <a
        href="https://www.meetup.com/Google-Developer-Group-Cloud-Kolkata/"
        target="_blank"
        rel="noopener noreferrer"
        >Google Developers Group Cloud Kolkata</a
      >
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="container">
  <div class="credits">
    <div class="logo mat-headline m-0">GDG</div>
    <div>
      &copy; Copyright 2019 | GDG Kolkata |
      <a routerLink="/team" fragment="developers" class="copyright"
        >Devel❤️er Credits</a
      >
    </div>
  </div>
</div>
