$gap: 24px;

:host {
  padding-bottom: $gap;
}

:host,
.container {
  display: grid;
  grid-gap: $gap;
}

h3 {
  margin: 0px;
  font-weight: 500;
}

.grid-col {
  display: grid;
  grid-gap: $gap;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.col-2 {
  align-items: center;
}

.col-3 {
  & > div {
    display: grid;
    align-content: start;
  }

  h3 {
    margin-bottom: 4px;
  }
}

.credits {
  display: grid;
  grid-gap: $gap/2;

  @media (min-width: 600px) {
    grid-template-columns: auto max-content;
    align-items: center;
  }
}

.email {
  mat-icon {
    vertical-align: sub;
    font-size: 20px;
    height: 20px;
    width: 24px;
  }
}
