<app-jumbotron>
  <ng-container ngProjectAs="mat-display-1">
    Some relevant caption
  </ng-container>
  <ng-container ngProjectAs="mat-subheading-2">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ex,
    quidem veniam animi unde voluptate voluptatibus soluta dicta, dolore aut
    dignissimos praesentium labore, provident porro hic facilis eaque ratione
    consequatur.
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
    perspiciatis facilis error.
  </ng-container>
</app-jumbotron>
<div class="container">
  <section class="speakers" id="speakers">
    <app-header-fragment fragment="speakers">
      <h1 class="m-0">Speakers</h1>
    </app-header-fragment>
    <mat-divider></mat-divider>
    <div class="speaker-grid">
      <app-speaker-card
        *ngFor="let speaker of speakers$ | async"
      ></app-speaker-card>
    </div>
  </section>
</div>
