<section>
  <div class="container">
    <app-header-fragment fragment="highlights">
      <h1>Highlights</h1>
    </app-header-fragment>
    DevFest Kolkata 2018 was the largest gathering of Google Developer Groups in
    the Eastern region of India! Here's a showdown of the event. Don't forget to
    check out the
    <a
      href="https://photos.app.goo.gl/b6WCNuE7xQDt6BnA8"
      target="_blank"
      rel="noopener noreferrer"
      >complete album</a
    >.
    <div class="grid">
      <app-placeholder>
        <img src="https://via.placeholder.com/600x300" alt="image" />
      </app-placeholder>
      <app-placeholder>
        <img src="https://via.placeholder.com/600x300" alt="image" />
      </app-placeholder>
    </div>
  </div>
</section>
