<section>
  <div class="container">
    <app-header-fragment fragment="highlights">
      <h1>Highlights</h1>
    </app-header-fragment>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum dolores
    nulla, ducimus itaque excepturi eaque, minus a autem praesentium est nisi
    quod magni soluta corrupti rem. Don't forget to check out the
    <a
      href="https://photos.app.goo.gl/b6WCNuE7xQDt6BnA8"
      target="_blank"
      rel="noopener noreferrer"
      >complete album</a
    >.
    <div class="grid">
      <app-placeholder (appDeferLoad)="onViewed(1)">
        <app-placeholder-spinner
          *ngIf="!isResourceLoaded1"
        ></app-placeholder-spinner>
        <iframe
          title="Youtube video"
          [src]="urlSafe1"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          (load)="onResourceLoad(1)"
          *ngIf="loadResource1"
        >
        </iframe>
      </app-placeholder>
      <app-placeholder (appDeferLoad)="onViewed(2)">
        <app-placeholder-spinner
          *ngIf="!isResourceLoaded2"
        ></app-placeholder-spinner>
        <iframe
          title="Youtube video"
          [src]="urlSafe2"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          (load)="onResourceLoad(2)"
          *ngIf="loadResource2"
        >
        </iframe>
      </app-placeholder>
    </div>
  </div>
</section>
