<section class="banner"></section>
<mat-divider></mat-divider>
<div class="pad-top">
  <div class="container">
    <section class="gdg-intro grid">
      <div>
        <div class="mat-headline">
          GDG Devfest Kolkata 2019
        </div>
        <div>
          <p class="mat-body-strong">We are in the Endgame now!</p>
          <p>
            Join us on Sunday, 4 August, 2019 at
            <a
              href="http://novotelkolkata.com/"
              target="_blank"
              rel="noopener noreferrer"
              >Novotel Kolkata</a
            >
            for a day filled with amazing Tech talks and demos.
          </p>
          <p>
            Unable to attend? The DevFest Sessions will be available on YouTube
            in a few days. Make sure to sign up to receive event information and
            updates. Take part in the conversation on Twitter by using the
            hashtags
            <span class="mat-body-strong">#DevFestKol</span> and
            <span class="mat-body-strong">#DevFest19</span>.
          </p>
          <button mat-raised-button color="primary">Register</button>
        </div>
      </div>
      <div class="youtube-container">
        <div>
          <iframe
            src="https://www.youtube.com/embed/jG2_TN-jfH4"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
    </section>
    <section class="gdg-desc grid grid-reverse">
      <div>
        <div class="mat-headline">
          Unique & Engaging
        </div>
        <div>
          <p>
            While no two DevFests will be exactly alike, each at its core is
            powered by a shared belief that when developers come together to
            exchange ideas, amazing things can happen.
          </p>
          <p>
            If you would like to be a Speaker or do a Showcase for your
            Organization, do check out our CFPs.
          </p>
          <button mat-raised-button color="accent">Call for showcase</button>
        </div>
      </div>
      <div class="image">
        <img src="http://via.placeholder.com/600x300" alt="image" />
      </div>
    </section>
    <section class="events grid">
      <div>
        <div class="mat-headline">
          What happens at DevFest?
        </div>
        <div>
          <p>
            DevFests are events where we come together to learn from each other.
          </p>
          <p>
            The motive is to create a local ecosystem of Developers and give
            them a platform to Interact and Network. We talk about various
            cutting-edge technologies.
          </p>
        </div>
      </div>
      <div class="square-4">
        <div>
          <div class="mat-subheading-2 topic yellow">
            Cloud
          </div>
          Learn &amp; Grow with Serverless and Cloud.
        </div>
        <div>
          <div class="mat-subheading-2 topic blue">
            Web
          </div>
          Working with the all-pervading platform.
        </div>
        <div>
          <div class="mat-subheading-2 topic red">
            ML
          </div>
          Making the machines learn.
        </div>
        <div>
          <div class="mat-subheading-2 topic green">
            Mobile
          </div>
          Build for the Device in everyone's hand.
        </div>
      </div>
    </section>
    <section class="highlights">
      <div class="mat-headline">
        Highlights
      </div>
      DevFest Kolkata 2018 was the largest gathering of Google Developer Groups
      in the Eastern region of India! Here's a showdown of the event. Find the
      complete album
      <a
        href="https://photos.app.goo.gl/b6WCNuE7xQDt6BnA8"
        target="_blank"
        rel="noopener noreferrer"
        >here</a
      >.
      <div class="grid">
        <div class="image">
          <img src="http://via.placeholder.com/600x300" alt="image" />
        </div>
        <div class="image">
          <img src="http://via.placeholder.com/600x300" alt="image" />
        </div>
      </div>
    </section>
    <section class="story grid grid-reverse">
      <div>
        <div class="mat-headline">
          Share your Story
        </div>
        <div>
          <p>
            Share your experience at DevFest '18 and what you loved/ did not
            love about the event.
          </p>
          <p>
            We would be looking forward to hearing your DevFest Stories and how
            that has shaped your actions, work, passion and maybe life in
            general. Made some amazing friends at DevFest? Tell us about that.
            Use the hashtags
            <span class="mat-body-strong">#DevFestKol</span> and
            <span class="mat-body-strong">#DevFest19</span>.
          </p>
          <a
            mat-stroked-button
            color="primary"
            href="https://twitter.com/intent/tweet?text=#DevFestKol"
            target="_blank"
            rel="noopener noreferrer"
          >
            #DevFestKol</a
          >
        </div>
      </div>
      <div class="image">
        <img src="http://via.placeholder.com/600x300" alt="image" />
      </div>
    </section>
    <section class="team grid">
      <div>
        <div class="mat-headline">
          The Team
        </div>
        <div>
          <p>
            These are the amazing bunch of people who make the event what it is.
            Who toil day and night to bring to you DevFest Kolkata 🌓
          </p>
          <p>
            They take the time out from their daily grind to give back to the
            Community. And in the process, empowering us all.
          </p>
          <a mat-stroked-button color="primary" routerLink="/team"
            >Meet the team</a
          >
        </div>
      </div>
      <div class="image">
        <img src="http://via.placeholder.com/600x300" alt="image" />
      </div>
    </section>
    <section class="partners">
      <div class="mat-headline">
        Partners
      </div>
      <p>
        We thank our Partners for their support towards the community. If you
        want to be showcased through DevFest Kolkata, click
        <a
          href="https://forms.gle/z8ZivnfjFQYbX55T6"
          target="_blank"
          rel="noopener noreferrer"
          >here</a
        >
        for Sponsorship details.
      </p>
      <div class="grid-small">
        <mat-card *ngFor="let partner of [0, 0, 0, 0, 0, 0, 0, 0]">
          <h3>Partner type</h3>
          <div mat-card-image class="partner-image">
            <img src="http://via.placeholder.com/100" alt="image" />
          </div>
          <mat-card-actions>
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              mat-icon-button
              color="primary"
            >
              <mat-icon>public</mat-icon>
            </a>
            <button
              mat-icon-button
              (click)="onShareClick(partner)"
            >
              <mat-icon>share</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </section>
    <section class="location">
      <div class="mat-headline">
        Location
      </div>
      <p>
        DevFest Kolkata 2019 shall take place at Novotel Kolkata, at CF Block,
        Action Area IC, Newtown.
        <a
          href="http://novotelkolkata.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Learn more</a
        >.
      </p>
    </section>
  </div>
</div>
