
.master-grid {
  display: grid;
  $gap: 32px;
  margin-top: $gap / 2;

  & > * {
    padding: $gap 0;
  }

  @media (min-width: 1024px) {
    margin-top: $gap;

    & > * {
      padding: $gap*2 0;
    }
  }
}
