$gap: 64px;

.container {
  display: grid;
  grid-row-gap: $gap;
}

.grid {
  display: grid;
  grid-gap: $gap;

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'textArea imageArea';

    & > div {
      &:first-child {
        grid-area: textArea;
      }

      &:last-child {
        grid-area: imageArea;
      }
    }

    &.grid-reverse {
      & > div {
        &:first-child {
          grid-area: imageArea;
        }

        &:last-child {
          grid-area: textArea;
        }
      }
    }
  }
}

.youtube-container {
  position: relative;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100% / 16 * 9;
  }

  & > div {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}
