@import '~@angular/material/theming';

//************//
// Typography //
//************//

$font-major: '"Open Sans", sans-serif';
$custom-typography: mat-typography-config(
  $display-4: mat-typography-level(112px, 112px, 300, $font-major),
  $display-3: mat-typography-level(56px, 56px, 400, $font-major),
  $display-2: mat-typography-level(45px, 48px, 400, $font-major),
  $display-1: mat-typography-level(34px, 40px, 400, $font-major),
  $headline: mat-typography-level(24px, 32px, 400, $font-major),
  $title: mat-typography-level(20px, 32px, 400, $font-major)
);
@include mat-core($custom-typography);

// Default values for reference
// $font-family:   'Roboto, "Helvetica Neue", sans-serif',
// $display-4:     mat-typography-level(112px, 112px, 300),
// $display-3:     mat-typography-level(56px, 56px, 400),
// $display-2:     mat-typography-level(45px, 48px, 400),
// $display-1:     mat-typography-level(34px, 40px, 400),
// $headline:      mat-typography-level(24px, 32px, 400),
// $title:         mat-typography-level(20px, 32px, 500),
// $subheading-2:  mat-typography-level(16px, 28px, 400),
// $subheading-1:  mat-typography-level(15px, 24px, 400),
// $body-2:        mat-typography-level(14px, 24px, 500),
// $body-1:        mat-typography-level(14px, 20px, 400),
// $caption:       mat-typography-level(12px, 20px, 400),
// $button:        mat-typography-level(14px, 14px, 500),
// $input:         mat-typography-level(16px, 1.125, 400) -> Line-height must be unit-less fraction of the font-size.

.custom-typography {
  font-family: mat-font-family(
    mat-typography-config($font-family: $font-major)
  );
}

//*********//
// Theming //
//*********//

// @include mat-core(); -> Without custom typography

// Default theme
$custom-primary: mat-palette($mat-indigo);
$custom-accent: mat-palette($mat-pink, A200, A100, A400);
$custom-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);
.mat-sidenav-container {
  background-color: white;
}
a {
  color: #3f51b5;
}
.router-link-active {
  background-color: #e0e0e0;
}

// Dark theme
$custom-dark-primary: mat-palette($mat-light-green, A400, A100, 700);
$custom-dark-accent: mat-palette($mat-amber, A200, A100, A400);
$custom-dark-warn: mat-palette($mat-deep-orange);
$custom-dark-theme: mat-dark-theme(
  $custom-dark-primary,
  $custom-dark-accent,
  $custom-dark-warn
);
.dark-theme {
  @include angular-material-theme($custom-dark-theme);
  a {
    color: #76ff03;
  }
  .router-link-active {
    background-color: #616161;
  }
}

// Available color palettes: https://material.io/resources/color/
