@import './assets/theme';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  padding: 0 16px;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  box-sizing: border-box;
}

.m-0 {
  margin: 0;
}

a:not([class^="mat-"]) {
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}
