@import './assets/css/theme';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  padding: 0 16px;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  box-sizing: border-box;
}

.m-0 {
  margin: 0 !important;
}

a:not([class^='mat-']):not([class="fragment-icon"]) {
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

a[class*="fragment-icon"] {
  color: inherit;
  text-decoration: none;
  display: none;
}

.link-on-hover:hover {
  a[class="fragment-icon"] {
    display: initial;
  }
}

app-placeholder {
  img, iframe {
    width: 100%;
    height: 100%;
  }
}
