:host, .img-container {
  height: 100%;
}

.img-container {
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  background-color: #d8d8d8;

  img {
    width: 100%;
    align-self: center;
    justify-self: center;
    place-self: center;
  }
}
