:host, .img-container {
  height: 100%;
}

.img-container {
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(245, 245, 245);
  display: grid;

  img {
    width: 100%;
    align-self: center;
    justify-self: center;
    place-self: center;
  }
}
